include mixins/product-item

product-list
  ul.products
    each product, index in products
      +product-item(product, page, pageCount, index)

  if page > 0
    //- a(href=`/?page=${page - 1}` rel="prev") Previous
    a(href=link('/', { page: page - 1 }) rel="prev") Previous

  if page > 0 && page < (pageCount - 1)
    = " "
    | |
    = " "

  if page < (pageCount - 1)
    a(href=link('/', { page: page + 1 }) rel="next") Next
