nav.navbar
  ul.navbar-nav.navbar-light
    li.nav-item
      a(href="/") Home
    li.nav-item
      a(href="https://www.google.de") Google
    li.nav-item
      a(href="https://www.facebook.de") Facebook
